<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Repo Analyze Report</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <style>
    body {
      margin: 0;
      padding: 0;
      color: #17233d;
    }

    #app {
      width: 85%;
      margin: 0 auto;
      padding: 20px;
    }

    .analyze-info {
      display: flex;
    }

    .analyze-info div {
      margin-right: 50px;
      color: #515a6e;
      font-weight: bold;
    }

    .repo-title {
      font-weight: bold;
      font-size: 18px;
    }

    .repo-title span {
      font-style: italic;
      margin-right: 20px;
    }

    .repo-status-wrapper {
      margin-top: 10px;
      display: flex;
    }

    .repo-status-wrapper span {
      padding: 1px 5px;
      border-radius: 5px;
    }

    .repo-status-wrapper .merged {
      background: #19be6b;
      color: #f8f8f9;
    }

    .repo-status-wrapper .conflict {
      background: #F56C6C;
      color: #f8f8f9;
    }

    .repo-status {
      margin-right: 15px;
    }

    .repo-branch {
      color: #17233d;
      font-style: italic;
    }

    .repo-table {
      margin-top: 15px;
    }

    .repo-table .repo-sub-title {
      font-weight: bold;
      font-size: 14px;
    }

    .repo-table .table-content {
      padding: 5px 0 5px 15px;
      font-size: 14px;
    }

    .repo-table .table-content:nth-child(even) {
      background: #F2F6FC;
    }

    .repo-table .conflict {
      background: #F56C6C;
      color: #f8f8f9;
    }

    .repo-table .conflict-text {
      color: #F56C6C;
      font-weight: bold;
      font-style: italic;
    }

    .repo-table .status {
      padding: 2px 5px;
      border-radius: 5px;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="analyze-header">
      <h1>Repo Analyze Report</h1>
      <div class="analyze-info">
        <div>Analyze Repos: <span>{{analyzeRepo}}</span></div>
      </div>
    </div>
    <div class="analyze-content">
      <div class="repo-container" v-for="(repo, index) in analyzeData" :key="index">
        <el-divider content-position="left">Repo Check Result</el-divider>
        <div class="repo-title">Repo Name:
          <span>
            {{repo.repo}}
          </span>
          <span>
            {{repo.author}}
          </span>
        </div>

        <div class="repo-status-wrapper">
          <div class="repo-status">Repo status: <span
              :class="[repo.status === 'conflict' ? 'conflict': 'merged']">{{repo.status}}</span></div>
          <div class="repo-branch">
            <span>{{repo.branch}}</span>
            <i class="el-icon-back"></i>
            <span>{{repo.mergeFrom}}</span>
          </div>
        </div>

        <div class="repo-table">
          <div class="conflict-files" v-if="repo.status === 'conflict'">
            <el-collapse value="file">
              <el-collapse-item :title="`Conflict Files, Total: ${repo.conflictFiles.length}`" name="file">
                <div class="table-content" v-for="(file, index) in repo.conflictFiles" :key="index">
                  {{index + 1}}. {{file}}
                </div>
              </el-collapse-item>
              <el-collapse-item :title="`Privacy Dependencies,  Total: ${Object.keys(repo.privacyDependencies).length}`"
                name="dependency">
                <div class="table-content" v-for="(dependency, index) in Object.keys(repo.privacyDependencies)"
                  :key="index">
                  {{index + 1}}. {{dependency}}
                </div>
              </el-collapse-item>
            </el-collapse>
          </div>
          <div v-else>
            <div>Dependencies Check Result,
              Total <span>{{repo.children.length}}</span>,
              Conflict Dependencies in First Level <span
                class="conflict-text">{{repo.children.filter(_re => _re.status === 'conflict').length}}</span>
            </div>
            <el-table :data="repo.children" stripe row-key="id" default-expand-all
              :tree-props="{children: 'children', hasChildren: 'hasChildren'}">
              <el-table-column prop="repo" label="Repo">
              </el-table-column>
              <el-table-column prop="status" label="Status" sortable>
                <template slot-scope="scope">
                  <span
                    :class="[scope.row.status === 'conflict' ? 'conflict' : '', 'status']">{{ scope.row.status }}</span>
                </template>
              </el-table-column>
              <el-table-column prop="branch" label="Branch">
              </el-table-column>
              <el-table-column prop="mergeFrom" label="MergeForm">
              </el-table-column>
              <el-table-column prop="conflictFiles" label="ConflictFiles">
                <template slot-scope="scope">
                  <div v-for="(file, _index) in scope.row.conflictFiles" :key="_index">
                    {{_index + 1}}. {{file}}
                  </div>
                </template>
              </el-table-column>
              <el-table-column prop="privacyDependencies" label="Dependencies">
                <template slot-scope="scope">
                  <div v-for="(dependency, __index) in Object.keys(scope.row.privacyDependencies)" :key="__index">
                    {{__index + 1}}. {{dependency}}
                  </div>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
      </div>
    </div>
    <Spin size="large" fix v-if="spinShow"></Spin>
  </div>

  <script src="https://vuejs.org/js/vue.min.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script>
    const analyzeColumn = []
    new Vue({
      el: '#app',
      data() {
        return {
          spinShow: true,
          analyzeRepo: 0,
          analyzeColumn,
          analyzeData: [],
        }
      },
      async beforeCreate() {
        const { data: analyzeResult } = await axios.get('./analyze.json')
        this.spinShow = false
        this.analyzeRepo = analyzeResult.length
        this.analyzeData = analyzeResult.map((analyzeData, index) => this.setAnalyzeChildren(analyzeData, index))
      },
      methods: {
        setAnalyzeChildren(analyzeData = {}, index) {
          const { privacyDependencies = {}, status, ...rest } = analyzeData

          if (status !== 'conflict') {
            const children = Object.keys(privacyDependencies).map((dependency, _index) => {
              const { privacyDependencies: _privacyDependencies = {}, ..._rest } = privacyDependencies[dependency]

              if (Object.keys(_privacyDependencies).length > 0) {
                return this.setAnalyzeChildren({ repo: dependency, privacyDependencies: _privacyDependencies, ..._rest }, Number(`${index}${_index}`))
              }

              return {
                ..._rest,
                id: Number(`${index}0${Math.floor(Math.random() * +new Date())}`),
                repo: dependency,
                privacyDependencies: _privacyDependencies,
              }
            })

            return {
              ...rest,
              id: Number(`${index}1${Math.floor(Math.random() * +new Date())}`),
              status,
              children,
              privacyDependencies
            }
          }

          return {
            ...rest,
            id: Number(index),
            status,
            privacyDependencies
          }
        }
      }
    })
  </script>

</body>

</html>